In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [11]:
# Store the CSV you saved created in part one into a DataFrame.
weather_data_df = pd.read_csv("weather_data/weatherPy_vacation.csv")
weather_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Constitucion,23.99,-104.67,51.80,100,90,9.17,MX,2019-11-12 23:47:00
1,1,Hilo,19.71,-155.08,84.20,62,20,9.17,US,2019-11-12 23:47:01
2,2,Mataura,-46.19,168.86,63.00,52,100,23.00,NZ,2019-11-12 23:47:01
3,3,Ribeira Grande,38.52,-28.70,62.60,90,40,7.92,PT,2019-11-12 23:47:01
4,4,Busselton,-33.64,115.35,71.01,34,0,11.01,AU,2019-11-12 23:45:45

In [ ]:
# Ask the customer to add a minimum and maximum temperature value.
rain = float(input("Do you want it to be raining? (yes/no) ")
snow = float(input("Do you want it to be snowing? (yes/no) ")